.Scenario {
    flex: 1;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    min-width: 200px;
    border-radius: 20px;
    overflow: clip;
}

.Scenario-illustration {
    margin: 10px;
    margin-left: 36%;
    background: white;
    height: 150px;
    border-radius: 50%;
    width: 150px;
    background-size: cover; /* Ajouté */
    background-position: center; /* Ajouté */
    
    
    
    
}

.Scenario-type {
    font-family: "Titan One", sans-serif;;
    text-wrap: normal;
    font-size: x-large;
    min-height: 54px;
    font-size: 2.5rem;
}

.Scenario-header {
    background: #F9EC4E;
    display: flex;
    flex-direction: column;
}

.Scenario-price-container {
    position: relative; top: 15px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.Scenario-price {
    padding: 5px 20px;
    background: black;
}

.Scenario-description {
    height: 80px;
    padding: 20px 10px 10px;
    font-size: 1rem;
    font-style: oblique;
    display: flex;
    align-items: center;
}

.Scenario-separator {
    background: #D5D3D3;
    height: 3px;
}

.Scenario-my-works {
    background: #FFFDCA;
    text-align: left;
    font-size: 1.2rem;
    padding: 5px 10px 10px;
    flex: 1;
}
.Scenario-my-works b {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Scenario-help-level-container {
    display: flex;
    justify-content: center;
}

.Scenario-help-level {
    color: white;
    background: #414BB2;
    margin: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    min-width: 105px ;
}

.Scenario-legend {
    font-size: small;
    margin: 2px 2px 0 2px ;
}

.Scenario-help-legend {
    color: #414BB2;
}

.Scenario-star-legend {
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
}

.Scenario-header h3 {
    font-size: 3rem; 
}

h4 {
    font-size: 1.5rem;
}
