.Stars {
    display: flex;
    padding: 5px 20px 20px 20px;
    justify-content: space-between;
}

.Star-round {
    background: #E6E6E6;
    height: 25px;
    width: 25px;
    border-radius: 20px;
}

.Star-selected {
    background: black;
}