



.Radio-button {
    Padding: 25px 100px;
    Border-Radius: 10px;
    border: Solid 2px #0CA789;
    background: none;
    color: black;
    font-size: 1.2rem;
    
}

.Radio-button-checked {
    background: #0CA789;
    color: white;
}

.Survey-choice {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 40px 50px;
    
}

.Survey-separator {
    background: #F9EC4E;
    height: 3px;
}

.Survey-command {
    display: flex;
    justify-content: center;
    margin: 30px;
    
}
.red-star {
    color: red;
}

.small-image {
    width: 8rem;
    height: 8rem; 
    
}

 h3 {
    font-size: 1.5rem; 
}

.Action-Button {
    font-style: normal;
}