
body {
  font-family: "IBM Plex Sans", sans-serif;
  margin : 100px;
}

.Main-flex-component {
  background-color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 10px;
}

.Action-Button {
  Padding : 15px;
  Border-Radius : 35px;
  border: none;
  background :  #F9EC4E;
  color: black;
  font-weight: bold;
  min-width: 250px;
  min-height: 70px;
  font-size: x-large;
  font-style: italic;
}

.Action-Button:hover {
  cursor: pointer;
}

.Action-Button:disabled {
  background: #d5d3d3;
  cursor: default;
}

